In [2]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

In [ ]:
<font size="5" color="red">ch02 자료형과 연산자 </font>


# 5절. 연산자
## 5.1 산술연산자 : +, - , *, /, //(몫연산자), %(나머지), **(제곱)

In [4]:
print('10의 5승 :', 100**5)
print('4/2(결과 실수) :', 5/2)
print('4//2(결과 몫) :', 5//2)
print('4%2(결과 나머지) :', 5%2)

10의 5승 : 10000000000
4/2(결과 실수) : 2.5
4//2(결과 몫) : 2
4%2(결과 나머지) : 1

In [6]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요:'))
result = num % 2
if result:
    print('입력한 숫자는 {}이고 2로 나눈 나머지는 {}. 그래서 홀수를 입력하셨습니다'.format(num, result))
else:
    print('입력한 숫자는 {}이고 2로 나눈 나머지는 {}. 그래서 짝수를 입력하셨습니다'.format(num, result))

정수를 입력하세요:4
입력한 숫자는 4이고 2로 나눈 나머지는 0. 그래서 짝수를 입력하셨습니다

In [9]:
num = int(input('정수를 입력하세요:'))
result = num % 2
if result:
    temp = '홀수'
else:
    temp = '짝수'
print('입력한 숫자는 {}이고 2로 나눈 나머지는 {}. 그래서 {}를 입력하셨습니다'.format(num, result, temp))
print(f'입력한 숫자는 {num}이고 2로 나눈 나머지는 {result}. 그래서 {temp}를 입력하셨습니다')

정수를 입력하세요:3
입력한 숫자는 3이고 2로 나눈 나머지는 1. 그래서 홀수를 입력하셨습니다
입력한 숫자는 3이고 2로 나눈 나머지는 1. 그래서 홀수를 입력하셨습니다

In [11]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하세요:'))
result = num % 5
if result:
    temp = '5의 배수가 아닙니다.'
else:
    temp = '5의 배수가 맞습니다.'
print(f'입력한 숫자는 {num}이고 5로 나눈 나머지는 {result}. 그래서 {temp}')

정수를 입력하세요:11
입력한 숫자는 11이고 5로 나눈 나머지는 1. 그래서 5의 배수가 아닙니다.

In [18]:
# quiz 3. 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 국어: 99      영어: 88      수학: 99
# 총점:296      평균: 98.7

num_k = int(input('국어 점수를 입력하세요:'))
num_e = int(input('영어 점수를 입력하세요:'))
num_m = int(input('수학 점수를 입력하세요:'))

sum = num_k + num_e + num_m
avg = sum / 3

print(f'국어:{num_k:3d}\t영어:{num_e:3d}\t수학:{num_m:3d}\n총점:{sum:3d}\t평균:{avg:5.1f}')
print(f'국어:{num_k:3d}\t영어:{num_e:3d}\t수학:{num_m:3d}')
print(f'총점:{sum:3d}\t평균:{avg:5.1f}')

국어 점수를 입력하세요:56
영어 점수를 입력하세요:67
수학 점수를 입력하세요:78
국어: 56	영어: 67	수학: 78
총점:201	평균: 67.0
국어: 56	영어: 67	수학: 78
총점:201	평균: 67.0

## 5.2 할당연산자: =, +=, -=, *=, /=, //=, %=

In [19]:
a = 10
a += 5 # a = a + 5
print('5더하기 :', a)

5더하기 : 15

In [20]:
a -= 5 # a = a - 5
print('5빼기 :', a)
a *= 5 # a = a * 5
print('5배 :', a)

5빼기 : 10
5배 : 50

## 5.3 논리연산자: &, and, |, or, not

In [25]:
# & 논리연산
print((10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트연산 12 : 0000 1100
              #          1 : 0000 0001
              #     12 & 1 : 0000 0000
print(bool(12 & 1))
print(bool(12 & 4))

True
0
False
True

In [27]:
# and : False로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환
print(False and 1 and 3)
print(0 and True)
print(True and '[]')

False
0
[]

In [29]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (false)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때)', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) 3

In [31]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)
print(not True)

None
Hong
False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [32]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4 < x) & (x < 10))
print(4 < x < 10)

True
True

In [34]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print((10>5) & (10>7))
print(10>5 & 10>7) # 0101 (5)
                   # 1010 (10)
print(10> 0 >7)
print(10>5 and 10>7)

True
False
False
True

In [36]:
address = '서울'
age = 29
# print(address == '서울' & age >= 30)
print((address == '서울') & (age >= 30))
print((address != '서울') & (age >= 30))

False

In [41]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 (특수문자 < 숫자 < 대문자 < 소문자)
'scott' < 'sctiger'

True

In [42]:
'9' > '10'

True

In [43]:
'김길' < '홍길도'

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [ ]:
x y  x&y  x^y
0 0   0    0
0 1   0    1
1 0   0    1
1 1   1    0

In [44]:
a = 15 # 1111
b =  2 # 0010
print(" a = {0:2} : {0:04b}".format(a))
print(" b = {0:2} : {0:04b}".format(b))
print("a^b= {0:2} : {0:04b}".format(a^b))

 a = 15 : 1111
 b =  2 : 0010
a^b= 13 : 1101

In [165]:
### 연산자
    - 산술연산 : + - * / ?? % **
    - 할당연산 : = += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비트연산 : & | ^
    - &와 |은 비교연산자보다우선순위가 높다

IndentationError: unexpected indent (3466476047.py, line 2)

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수[form:stop:step]
- len(문자열변수) : 문자갯수

- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 첫글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수 반환
- find('찾을문자열') : '찾을문자열'이 왼쪽부터 시작하여 몇번째에 있는지 인덱스를 반환
- rfind('찾을문자열') :  '찾을문자열'이 오른쪽부터 시작하여 몇번째에 있는지 인덱스를 반환
        **찾을문자열이 없으면 -1을 반환**
    cf) index('찾을문자열') : '찾을문자열'의 인덱스를 반환, 찾을문자열이 없으면 오류
- startswith('특정문자열') : '특정문자열'로 시작하는지 여부
- endswith('특정문자열') : '특정문자열'로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부
- islower() : 소문자 문자열인지 여부
- isupper() : 대문자 문자열인지 여부
- replace(oldStr, newStr) : oldStr을 nweStr로 변경

In [79]:
temp = 'python is easy. pYThon is smart. python'
#       012345678901234567890123456789012345678
print('1. 글자수 :', len(temp))
print('2. 대문자로 :', temp.upper())
print('3. 소문자로 :', temp.lower())
print('4. 단어 첫글자 대문자로 :', temp.title())
print('5. 첫문자만 대문자로 :', temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 :', temp.find('python'))
print('8. python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8. java가 나오는 마지막 index 위치 :', temp.rfind('java'))
print('8. python이 나오는 첫 index 위치 :', temp.index('python'))
#print('8. java가 나오는 마지막 index 위치 :', temp.index('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('9. python으로 끝나는지 여부 :', temp.endswith('PYTHON'))
print('10. 대소문자 구분없이 python으로 끝나는지 여부 :', temp.upper().endswith('PYTHON'))

1. 글자수 : 39
2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is easy. python is smart. python
4. 단어 첫글자 대문자로 : Python Is Easy. Python Is Smart. Python
5. 첫문자만 대문자로 : Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자 구분없이 python이 몇번 나오는지 : 3
7. 대소문자 구분없이 python이 몇번 나오는지 : 3
7. 대소문자 구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
8. python이 나오는 마지막 index 위치 : 33
8. java가 나오는 마지막 index 위치 : -1
8. python이 나오는 첫 index 위치 : 0
9. python으로 시작하는지 여부 : True
9. python으로 끝나는지 여부 : False
10. 대소문자 구분없이 python으로 끝나는지 여부 : True

In [73]:
temp = '         python is easy.        '
notdigit = '1,000,000'
num_str = '1000'
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 : ', notdigit.isdigit())
print('13. 소문자문자열인지 : ', temp.islower())
print('13. 대문자문자열인지 : ', temp.isupper())
print('14. \',\'제거 : ', notdigit.replace(',', ''))
print('14. \',\'제거 : ', num_str.replace(',', ''))

11. 좌우공백제거 : [python is easy.]
11. 좌측공백제거 : [python is easy.        ]
11. 우측공백제거 : [         python is easy.]
12. 숫자문자열인지 :  False
13. 소문자문자열인지 :  True
13. 대문자문자열인지 :  False
14. ','제거 :  1000000
14. ','제거 :  1000

In [77]:
temp = ' 홍길도   김길동 신길똥 유길도'
print('space 단위로 temp를 분리 :', temp.split()) #기본이 space 단위로 분리

space 단위로 temp를 분리 : ['홍길도', '김길동', '신길똥', '유길도']

In [81]:
data = '2025-04-10'
print(' - 단위로 data를 분리(결과 list)')
data_list = data.split('-')
print(data_list)
print('년: ', data_list[0])
print('월: ', data_list[1])
print('일: ', data_list[2])

 - 단위로 data를 분리(결과 list)
['2025', '04', '10']
년:  2025
월:  04
일:  10

In [86]:
# ' - '을 '/로 바꾸기'
temp = 'Python - HTML/CSS - JavaScript(jQuery, node, react)\
 - DBMS(Oracle, MySql) - 딥러닝(DNN, CNN, RNN) - 머시러닝'
# temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript(jQuery, node, react) - DBMS(Oracle, MySql) - 딥러닝(DNN, CNN, RNN) - 머시러닝
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript(jQuery, node, react)', 'DBMS(Oracle, MySql)', '딥러닝(DNN, CNN, RNN)', '머시러닝']
join된 데이터 : Python/HTML/CSS/JavaScript(jQuery, node, react)/DBMS(Oracle, MySql)/딥러닝(DNN, CNN, RNN)/머시러닝

In [ ]:
str_ = 'ABC'
# str_ = ['A', 'B', 'C']

In [87]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜, 날짜시간 다루기

In [122]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [123]:
# datetime모듈(datetime.py)안의 datetime, date, time을 import
from datetime import datetime, date, time
datetime, date, time

(datetime.datetime, datetime.date, datetime.time)

## 7.1 시간과 날짜

In [146]:
# 특정한 시점을 갖는 date 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [147]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환
print('{:%Y년%m월%d일(%A) %p %I시%M분 %S초}'.format(thatday))
print(thatday.strftime('%Y년%m월%d일(%A) %p %I시%M분 %S초'))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분 00초
2025년04월07일(월요일) 오전 09시30분 00초

In [148]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [149]:
now = datetime.now()
print(now.strftime("%y-%m-%d(%A) %H:%M:%S"))

25-04-11(금요일) 10:17:05

In [150]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2825, microseconds=942635)

In [151]:
diff.days

4

## 7.2 날짜

In [155]:
someday = date(2025, 9, 3)
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [158]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [159]:
print(today1.strftime("%Y년%m월%d일"))

2025년04월11일

In [160]:
diff = someday - today
diff.days

145

In [161]:
# 특정시간
t = time(13,10)
t

datetime.time(13, 10)

In [162]:
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [163]:
# 지금시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 25, 762340)

In [164]:
now_time.strftime("%H시 %M분 %S초")

'10시 42분 25초'

In [ ]:
**datetime, date, time형들을 원하는 포맷의 문자형으로 반환 :  strftime()**
    - %Y, %y, %m, %d, ,%A(요일), %p(오전/오후), %H(24시), %M(분), %S(초)ㅡ

# 8절. 연습문제

In [119]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#    [출력형식 : 홍길동님의 나이는 23 살입니다]
name = '홍길동'
age = 23
print(f'[출력형식 : {name}님의 나이는 {age}살입니다]')

[출력형식 : 홍길동님의 나이는 23살입니다]

In [93]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
int_1 = int(input('첫번째 정수 :'))
int_2 = int(input('두번째 정수 :'))
print('두 수 {}, {}의 합한값은 {}, 뺀값 {}, 곱한값 {}, 나눈값 {}, 몫 {}, 나머지는 {}입니다.'
      .format(int_1, int_2, int_1+int_2, int_1-int_2, int_1*int_2, int_1/int_2, int_1//int_2, int_1%int_2))

첫번째 정수 :34
두번째 정수 :5
두 수 34, 5의 합한값은 39, 뺀값 29, 곱한값 170, 나눈값 6.8, 몫 6, 나머지는 4입니다.

In [106]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World' 가 할당된 변수를 이용하여
#   'World Hello' 로 출력하세요
str_ = 'Hello World'
splited_str_ = str_.split()
joined_str_ = ' '.join(splited_str_[::-1])
print(f'원래 문장 :{splited_str_}을 단어 어순을 바꾼 것이 {joined_str_}니다')

원래 문장 :['Hello', 'World']을 단어 어순을 바꾼 것이 World Hello니다

In [111]:
# 4. x = 'abcdef'를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용\n",
x = 'abcdef'
print(x)
print(x[1:]+x[0])

abcdef
bcdefa

In [112]:
# 5. x = 'abcdef' 를 이용하여 'fedcba' 로 출력하세요
x = 'abcdef'
print(x)
print(x[::-1])

abcdef
fedcba

In [114]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 .
#    화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우
#    소수점을 출력하지 않도록 합니다. (다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,F 는 화씨)
#    C = (F - 32) / 1.8
#    F = (C*1.8) + 32
c = int(input('섭씨 온도?'))
f = (c * 1.8) + 32
if((f/int(f)-1)):
    print('변환된 화씨 온도는 {:4.2f}'.format(f))
else:
    print('변환된 화씨 온도는 {:4.0f}'.format(f))

섭씨 온도?0
변환된 화씨 온도는   32

In [115]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# ① for  ② 10th ③ Student.name ④ _1234
# 예약어, 숫자로 시작, 특수문자 사용 안됨, _는 특수문자이나 사용가능 문자로 _1234는 정상

In [116]:
# 8. 다음의 코드의 실행결과는?
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [117]:
# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은? 2번 정수/정수 결과는 실수
# ① 수식 8//2 결과 4 ② 수식 8/2 결과 4 ③ 수식 8 **2 결과 64
#   몫 4               나눈 결과 4.0      제곱 64

In [118]:
# 10. 아래 프로그램의 결과는? Error (정수형과 문자열의 연산 불가)
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [120]:
# 11. split() 함수를 이용하여 str_ 의 값 중 "나라" 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
str_.split()[1]

'나라'