In [22]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수 </font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매배변수의 갯수로 갯수로 다른 함수를 허용하는것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    ...
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [13]:
# 함수 정의
def my_message(x, msg): # mag를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [8]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [9]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [11]:
type(my_msg), type(my_message)

(function, function)

In [12]:
print('Hello') # 파이썬 내장함수 (import하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [14]:
my_message(2, 'Hello')

Hello
Hello

In [15]:
my_message = 5

In [16]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [17]:
del my_message
# 변수를 삭제해도 함수 사용불가 (파이썬 내장함수가 아니라서...)

In [18]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [27]:
# 함수 정의 : 4월16일(수)
# def my_hello():
#     print('Hello, Python')
#     print('Hello, World')
    
def my_hello(cnt):  # 재정의(오버로딩) 안됨
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [28]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [29]:
my_hello

In [31]:
__name__

'__main__'

In [33]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [9]:
import ch05 # ch05 모듈을 load

In [ ]:
ch05.my_hello(3)

In [6]:
del ch05

In [10]:
from ch05 import my_hello # cho5 모듈 안에 my_hello load

## 1.2 docstring

In [14]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [15]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [16]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [17]:
def fibonacci(n):
    a, b = 0, 1
    while a < 10:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [18]:
fibonacci(10)

0 1 1 2 3 5 8

In [19]:
if True:
    x = 10

In [20]:
x

10

In [21]:
a, b # 함수는 실행이 끝나면 함수 내 변수는 사라짐

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(gloval var)

In [28]:
gloval_var =  100 # 전역변수
def func1():
    print('함수안', gloval_var)
func1() 
print('함수밖', gloval_var)

함수안 100
함수밖 100

In [29]:
def func2():
    local_var = 200 # 지역변수
    print('함수안', local_var)
func2() 
print('함수밖', local_var)

함수안 200

NameError: name 'local_var' is not defined

In [30]:
g_var = 100 # 전역변수
print(id(g_var))
def func3():
    g_var = 200 # 지역변수
    print(id(g_var))
    print('함수안', g_var)
func3() 
print('함수밖', g_var)

1882732957008
1882732960208
함수안 200
함수밖 100

In [36]:
# 렉시컬 특성    * 참조 순서 : 로컬심볼테이블 > 전역 심볼테이블 > 내장된 이름테이블
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수 스칼라 변수(문자, 숫자, 논리형)일 때

In [51]:
foo = 10 # 전역변수
id(foo)

1882732954128

In [53]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f*3
    print('After  :', f, 'id(f) :', id(f))
func1(foo)

Before : 10 id(f) : 1882732954128
After  : 30 id(f) : 1882732954768

In [40]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [55]:
L = [1, 2, 3]
id(L)

1882850393856

In [57]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f.append(4)
    print('After  :', f, 'id(f) :', id(f))
    
func2(L)

print('L =', L)
id(L)

Before : [1, 2, 3] id(f) : 1882850393856
After  : [1, 2, 3, 4] id(f) : 1882850393856
L = [1, 2, 3, 4]

1882850393856

# 2절. 함수의 실행결과를 반환하는 return

In [58]:
def add(x, y):
    return x + y # return 이후 명령문은 미실행

In [59]:
i, j = 2, 3
add(i, j)

5

In [60]:
def add():
    return True
add()

True

In [62]:
def add(a):
    pass
print(add(10))

None

In [76]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < 10:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 0 1 1 2 3 5 8을 return
    '''
    result = []
    a, b = 0, 1
    while a < 10:
        result.append(a)
        a, b = b, a+b
    print() # 개행
    return result  # return은 하나만 가능?

In [80]:
x = fibonacci_print(100)
print(x)
print(type(x))
x = fibonacci_return(100)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

## 여러개 값 return

In [81]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a  # 여러 값이 return될 때에는 하나의 튜플로 만들어서 return

In [85]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

함수 실행 전 x=5, y =10
함수 실행 후 x=10, y =5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [90]:
def make_url(ip, port=80): # 순서인수 (ip) > 기본값을 갖는 매개변수 (port=80) (순서 중요!!!)
    return "http://{}:{}".format(ip, port)

In [93]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [104]:
i = 5
print(id(i))
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg= ',arg, id(arg))

1882732953968

In [105]:
i = 50
print(id(i))
func2()

1882732955408
arg=  5 1882732953968

In [107]:
list_ = []
# 기본값을 갖는 변수가 객체(데이타구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [108]:
print(func3(10)) # list_가 수정 된 결과 : [10]

[10]

In [110]:
print(func3(20))

[10, 20]

In [111]:
list_

[10, 20]

In [112]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [113]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [116]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [117]:
add(1, 2, 3, 4, 5, 6)

TypeError: add() takes 3 positional arguments but 6 were given

In [114]:
print('Hello', 'World', 'Python', 'Hello', 'World', 'Python')

Hello World Python Hello World Python

In [121]:
# *argss: 매개변수들을 하나의 튜플 변수 args로 전달 받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [122]:
print(add(1,2,3,4,5,6,7,8,9,10))

55

In [125]:
subject = ('Python','Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [134]:
def concat(*subject, sep):
    return sep.join(subject)

In [135]:
concat('Python','Oracle', 'DL', 'ML', '/') # /로 스트링 연결하는 함수

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [136]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python','Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [137]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [138]:
concat('Python','Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [139]:
print('Python','Oracle', 'DL', 'ML', sep='/')

Python/Oracle/DL/ML

In [142]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [144]:
concat(' ', 'Python','Oracle', 'DL', 'ML')

'Python Oracle DL ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [156]:
def func5(**kwargs):
    # print(kwargs)
    print(type(kwargs))
    print('이름 ; ', kwargs.get('name', '대마왕'))
    print('나이 ; ', kwargs.get('age', 30))
    print('주소 ; ', kwargs.get('address', '서울'))

In [157]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
이름 ;  홍길동
나이 ;  30
주소 ;  신림동

In [158]:
func5(name='김길동')

<class 'dict'>
이름 ;  김길동
나이 ;  30
주소 ;  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드매개변수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [159]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리인수 d :', d)

In [161]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [162]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [163]:
func7(10,20,1,2,3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [164]:
func7(10,20,1,2,3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [166]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [167]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [169]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [170]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임(딕셔너리매개변수)

In [4]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [5]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [7]:
customInfo = {'name':'홍길동','age':30,'address':'서울시 강남구','score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [8]:
def add(a, b):
    return a+b
add(3,4)

7

In [10]:
add2 = lambda a, b : a+b
add(3,4)

7

In [11]:
type(add), type(add2)

(function, function)

In [12]:
(lambda a, b : a+b)(3, 4)

7

In [13]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수' 
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [21]:
# ex2. 두 매개변수의 차이를 return
ex2 = lambda num1, num2 : max(num1,num2) - min(num1, num2)
ex2 = lambda a, b : a-b if a>b else b-a # 강사 추천
ex2(-5, 5)

10

In [22]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda bal : bal if bal>=0 else 'negative'
ex3 = lambda money : money if money>0 else 'negative' # 강사추헌
ex3(101), ex3(0), ex3(-3)

(101, 'negative', 'negative')

In [24]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 
#      그외는 유효하지 않음
# ex4 = lambda scr : 'A팀' if scr>=80 elif scr>=60 'B팀' elif scr>=0 '재시험' else '유효않음'
ex4 = lambda score : 'A팀' if 90<=score<=100 else \
                    'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'   # 강사추천
ex4(99), ex4(-10), ex4(77), ex4(59), ex4(120)

('A팀', '유효하지 않음', 'B팀', '재시험', '유효하지 않음')

In [25]:
# ex5. safe_index를 람다식으로
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

# def safe_index(vector, data):
#     if data in vector: # vector안에 data 있는지 여부
#         return vector.index(data)
#     else:
#         return -1

# safe_index(numbers, 9)

ex5 = lambda vector, data : vector.index(data) if data in vector else -1  # 강사 추천 lst => vector
ex5(numbers, 9), ex5(numbers, 3)

(-1, 2)

## 4.2 함수의 매개변수에 담다식 이용
```
def func(fun, data)
    명령어
```
### (1) map

In [1]:
# 리스트 데이터 가공 방법 1. map
def map_template(func, L=[1, 2, 3]):
    'L의 모든 요소를 func()함수를 적용시켜 return'
    result = []
    for l in L:
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [3]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
# 리스트 데이터 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터 가공 방법 3. map(): 파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
for item in map(lambda x : x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [16]:
'''
예1. [5000, 800, 1000, 6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [13]:
def func(x):
    return int(x.replace(',',''))
func('5,000'), func('1800')

(5000, 1800)

In [15]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [23]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'}]를
     member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다.
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'}]

In [20]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
def split_date(date):
    split_data = date.split('-')
#     print(split_date[0], split_date[1], split_date[2])
    return {'year': int(split_data[0]),
            'month': int(split_data[1]),
            'day': int(split_data[2])
           }

In [21]:
split_date('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [25]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'홍길동', 'year':2000, 'month':1, 'day':1} 식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [27]:
member2 = list(map(lambda member : {
                            'name':member.get('name'),
                            'year':int(member['birth'].split('-')[0]),
                            'month':int(member['birth'].split('-')[1]),
                            'day':int(member['birth'].split('-')[2]),
                            },
             member1
            )
        )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [48]:
'예3. member2를 member1로 바꿉니다'
member1 = list(map(lambda member : {
                            'name':member.get('name'),
                            'birth': "{year}-{month:02}-{day:02}".format(**member)
                            },
                   member2
                  )
              )
member1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [38]:
# {'year':2000, 'month':1, 'day':1} => "2000-01-01"를 return하는 함수
def join_date(data):
#     print([data.get('year'), data.get('month'), data.get('day'),])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = '0'+str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = '0'+str(day)
    return '-'.join([year, month, day])

join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [40]:
def join_date(data):
    print('{}-{:02}-{:02}'.format(data.get('year'),
                                 data.get('month'),
                                 data.get('day')))
join_date({'year':2000, 'month':1, 'day':1})

2000-01-01

In [85]:
def join_date(data):
    print('{year}-{month:02}-{day:02}'.format(
                                        name = data.get('name'), # format함수 지정방식에 따라 무시됨
                                        year = data.get('year'),
                                        month = data.get('month'),
                                        day = data.get('day')))

join_date({'year':2000, 'month':1, 'day':1})
# 간단하게 하면,

2000-01-01

In [71]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
    
join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [74]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
            'name' : member.get('name'),
            'birth': "{year}-{month:02}-{day:02}".format(**member) # key값으로 매칭?
            },
        member2
        )
    )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map처리 : [1, 2, 3, 4, 5] => [2, 4, 6, 8, 10] (벡터의 모든 데이터를 가공)
- filter : [1,2 3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션

In [67]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [51]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [68]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0, list_data)

[2, 4]

In [69]:
list(filter_template(lambda value : value%2==0, list_data))

[2, 4]

In [57]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [62]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [75]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [76]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [83]:
# 무조건 0번 item 기준으로 정렬
number2d = [[9,9,9,9,9],
           [1, 100],
           [10,1]]
number2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True: 내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9], [1, 100]]

In [84]:
# 합이 큰 순으로 정렬
number2d.sort(key=lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9], [10, 1]]

In [80]:
(lambda item : sum(item))([1,2,3])

6

In [91]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100},
]
students.sort(key=lambda item : item.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [92]:
# score순으로 정렬(내림차순정렬)
students.sort(key=lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [115]:
# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순) 가격순 정렬
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스트로이드', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'신길동'},
]

In [110]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '신길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스트로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [111]:
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '신길동'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스트로이드', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [123]:
books.sort(key = lambda book : book.get('price'))
books

TypeError: '<' not supported between instances of 'int' and 'str'

In [137]:
# '14,000' -> 14000 / '2000' -> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',', '').isdigit(): # and : 논리연산자 only, & : 논리, 비트, ...연산자일 수 있다
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [138]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, 0)

In [145]:
# {'no':6, 'title':'가격이없음', 'writer':'신길동'}
# {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'}
# {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900}
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int( book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 00

parse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])

(25200, 0, 14220, 0)

In [146]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0                
               )

In [147]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

25200

In [148]:
copy_books

[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '신길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스트로이드', 'price': '25,200'}]

In [149]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스트로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '신길동'}]

## 4.3 return문에 람다식 이용

In [126]:
# 함수를 return
def make_box(shape): # shape : [L], => length가 l인 list를 생성하는 함수 return, 
                     #         [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
                     #         [d,r,c] => d면 r행 c열 3차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [[init_value]*shape[1]] * shape[0]
        
    return box

In [132]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [131]:
line_func = make_box([10])
line_func(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [130]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value] * shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [136]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': '예3. member2를 member1로 바꿉니다',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "def map_template(func, L=[1, 2, 3]):\n    'L의 모든 요소를 func()함수를 적용시켜 return'\n    result = []\n    for l in L:\n        result.append(func(l))\n    return result\n#     return [func(l) for l in L]\n    ",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\nmap_template(lambda x : x*2, list_data)\n# def x_2(x):\n#     return x*2\n# map_template(x_2, list_data)',
  '# 리스트 데이터 가공 방법 1. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  '# 리스트 데이터 가공 방법 3. map(): 파이썬 내장함수\nmap(lambda x : x*2, list_data)',
  '# 리스트 데이터 가공 방법 3. map(): 파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  "for item in map(lambda x : x*2, list_data):\n    print(item, end=' ')",
  "'''\n예1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']\nlist(map(lambda i : int(prices)))",
  "'''\n예1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']\nlist(map(lambda i : int(prices), prices))",
  "'''\n예1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']\nlist(map(lambda num : int(for i in prices), prices))",
  "'''\n예1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']\nlist(map(lambda num : int(for str_ in prices), prices))",
  "def func(x):\n    return int(x.replac(',',''))\nfunc('5,000'), func('1800')",
  "def func(x):\n    return int(x.replace(',',''))\nfunc('5,000'), func('1800')",
  "map((lambda x : int(x.replace(',','')), prices))",
  "list(map(lambda x : int(x.replace(',','')), prices))",
  "'''\n예1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']",
  "'''\n예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'}]를\n     member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다.\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'}]",
  "# '2000-01-01' => {'year':2000, 'month':1, 'day':1}\ndef split_date(date):\n    split_date = date.split('-')\n    print(split_date[0], split_date[1], split_date[2])\n    ",
  "split_date('2000-01-01')",
  "# '2000-01-01' => {'year':2000, 'month':1, 'day':1}\ndef split_date(date):\n    split_data = date.split('-')\n#     print(split_date[0], split_date[1], split_date[2])\n    return {'year': int(split_data[0]),\n          'month': int(split_data[1]),\n          'day': int(split_data[2])}",
  "split_date('2000-01-01')",
  "def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}\n    '{'name':'홍길동', 'year':2000, 'month':1, 'day':1} 식으로 return'\n    return {\n        'name':member.get('name'),\n        'year':int(member['birth'].split('-')[0]),\n        'month':int(member['birth'].split('-')[1]),\n        'day':int(member['birth'].split('-')[2]),\n    }",
  "'''\n예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'}]를\n     member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다.\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'}]",
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1} 식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1} 식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "member2 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'year':int(member['birth'].split('-')[0]),\n                            'month':int(member['birth'].split('-')[1]),\n                            'day':int(member['birth'].split('-')[2]),\n                            },\n             member1\n            )\n        )",
  "member2 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'year':int(member['birth'].split('-')[0]),\n                            'month':int(member['birth'].split('-')[1]),\n                            'day':int(member['birth'].split('-')[2]),\n                            },\n             member1\n            )\n        )\nmember2",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name')\n                            'birth':'-'.join(member.get('year'),member.get('month'),member.get('day'))\n                                    }\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth':'-'.join(member.get('year'),member.get('month'),member.get('day'))\n                                    }\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth':'-'.join(member.get('year'),member.get('month'),member.get('day'))\n                                    }\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth':'-'.join(member.get('year'),member.get('month'),member.get('day'))\n                                    },\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth':'-'.join(member.values()[1::])\n                                    },\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth':str'-'.join(str(member.values())[1::])\n                                    },\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth': '-'.join(str(member.values())[1::])\n                                    },\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth': '-'.join(str(member.values()[1::])\n                                    },\n                   member2\n                  )\n              )\nmember1",
  "'예3. member2를 member1로 바꿉니다'\nmember1 = list(map(lambda member : {\n                            'name':member.get('name'),\n                            'birth': '-'.join(str(member.values()[1::]))\n                                    },\n                   member2\n                  )\n              )\nmember1",
  '# {\'year\':2000, \'month\':1, \'day\':1} => "200-01-01"를 return하는 함수\ndef join_date(data):\n#     print([data.get(\'year\'), data.get(\'month\'), data.get(\'day\'),])\n    year = str(data.get(\'month\'))\n    month = data.get(\'month\')\n    if month < 10:\n        month = \'0\'+str(month)\n    else:\n        month = \'0\'+str(month)\n    day = data.get(\'day\')\n    if day < 10:\n        day = \'0\'+str(day)\n    else:\n        day = \'0\'+str(day)\n    return \'-\'.join([year, month, day])\n\njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  '# {\'year\':2000, \'month\':1, \'day\':1} => "2000-01-01"를 return하는 함수\ndef join_date(data):\n#     print([data.get(\'year\'), data.get(\'month\'), data.get(\'day\'),])\n    year = str(data.get(\'year\'))\n    month = data.get(\'month\')\n    if month < 10:\n        month = \'0\'+str(month)\n    else:\n        month = \'0\'+str(month)\n    day = data.get(\'day\')\n    if day < 10:\n        day = \'0\'+str(day)\n    else:\n        day = \'0\'+str(day)\n    return \'-\'.join([year, month, day])\n\njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  "def join_date(data)\n    print('{}-{:02}-{:02}'.format(data.get('year'),\n                                 data.get('month'),\n                                 data.get('day')))\njoin_date({'year':2000, 'month':1, 'day':1})",
  "def join_date(data):\n    print('{}-{:02}-{:02}'.format(data.get('year'),\n                                 data.get('month'),\n                                 data.get('day')))\njoin_date({'year':2000, 'month':1, 'day':1})",
  "def join_date(data):\n    print('{year}-{month:02}-{day:02}'.format(year = data.get('year'),\n                                     month = data.get('month'),\n                                     day = data.get('day')))\n\njoin_date({'year':2000, 'month':1, 'day':1})\n# 간단하게 하면,",
  "def join_date(data):\n    print('{year}-{month:02}-{day:02}'.format(**data))\n    \njoin_date({'year':2000, 'month':1, 'day':1})",
  "def join_date(data):\n    retrun '{year}-{month:02}-{day:02}'.format(**data)\n    \njoin_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data):\n    retrun "\'{year}-{month:02}-{day:02}\'.format(**data)"\n    \njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  "def join_date(data):\n    retrun '{year}-{month:02}-{day:02}'.format(**data)\n    \njoin_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data):\n    retrun "{year}-{month:02}-{day:02}".format(**data)\n    \njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  '#\n#\nlist(map(lambda member : {\n            \'name\' : member.get(\'name\'),\n            \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n            },\n        member2\n        )\n    )',
  '\'예3. member2를 member1로 바꿉니다\'\nmember1 = list(map(lambda member : {\n                            \'name\':member.get(\'name\'),\n                            \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n                            },\n                   member2\n                  )\n              )\nmember1',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), enevChk(-9)',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), enenChk(-9)',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(-9)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n        return result',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter_template(lambda value : value%2==0, list_data))',
  '[data for data in list_data if data%2==0]',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l)%2==0:\n            result.append(l)\n        return result',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if l%2==0:\n            result.append(l)\n        return result',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'p = [9, 2, 7]\np.sort(reverse=True)\np',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n        return result',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter_template(lambda value : value%2==0, list_data))',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter_template(lambda value : value%2==0, list_data))',
  'def join_date(data):\n    retrun "{year}-{month:02}-{day:02}".format(**data)\n    \njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  'def join_date(data):\n    return "{year}-{month:02}-{day:02}".format(**data)\n    \njoin_date({\'year\':2000, \'month\':1, \'day\':1})',
  'def join_date(data):\n    print(\'{year}-{month:02}-{day:02}\'.format(\n                                    name="홍",\n                                     year = data.get(\'year\'),\n                                     month = data.get(\'month\'),\n                                     day = data.get(\'day\')))\n\njoin_date({\'year\':2000, \'month\':1, \'day\':1})\n# 간단하게 하면,',
  'def join_date(data):\n    print(\'{year}-{month:02}-{day:02}\'.format(\n                                        name="홍",\n                                        year = data.get(\'year\'),\n                                        month = data.get(\'month\'),\n                                        day = data.get(\'day\')))\n\njoin_date({\'year\':2000, \'month\':1, \'day\':1})\n# 간단하게 하면,',
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n            \'name\' : member.get(\'name\'),\n            \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n            },\n        member2\n        )\n    )',
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])\npairs',
  '# 무조건 0번 item 기준으로 정렬\nnumber2d = [[9,9,9,9,99],\n           [1, 100],\n           [10,1]]\nnumber2d,sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True: 내림차순정렬',
  '# 무조건 0번 item 기준으로 정렬\nnumber2d = [[9,9,9,9,99],\n           [1, 100],\n           [10,1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True: 내림차순정렬',
  '# 무조건 0번 item 기준으로 정렬\nnumber2d = [[9,9,9,9,99],\n           [1, 100],\n           [10,1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True: 내림차순정렬\nnumber2d',
  '(lambda item : sum(item))([1,2,3])',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item), reverse=True)',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item), reverse=True)\nnumber2d',
  '# 무조건 0번 item 기준으로 정렬\nnumber2d = [[9,9,9,9,9],\n           [1, 100],\n           [10,1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True: 내림차순정렬\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item), reverse=True)\nnumber2d',
  "def join_date(data):\n    print('{year}-{month:02}-{day:02}'.format(\n                                        name=data.get('name'), # format함수 지정방식에 따라 무시됨\n                                        year = data.get('year'),\n                                        month = data.get('month'),\n                                        day = data.get('day')))\n\njoin_date({'year':2000, 'month':1, 'day':1})\n# 간단하게 하면,",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n#    {'score':100},\n]\nstudents.sort(key=lambda item : *item.get('name'))\nnumber2d",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n#    {'score':100},\n]\nstudents.sort(key=lambda item : item.get('name'))\nnumber2d",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n#    {'score':100},\n]\nstudents.sort(key=lambda item : item.get('name'))\nstudents",
  "# score순으로 정렬(내림차순정렬)\nstudents.sort(key=lambda item : item.get('score'), reverse=True)\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100},\n]\nstudents.sort(key=lambda item : item.get('name'))\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100},\n]\nstudents.sort(key=lambda item : item.get('name', '힣'))\nstudents",
  "# score순으로 정렬(내림차순정렬)\nstudents.sort(key=lambda item : item.get('score', 0), reverse=True)\nstudents",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순) 가격순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스트로이드', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이 잘못', 'writer':'홍길도', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길도', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'신길도'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순) 가격순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스트로이드', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길도', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길도', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'신길도'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "books.sort(key = lambda book : book.get('price'))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int("800")',
  "# '14,000' -> 14000 / '2000' -> 2000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',', '').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  'parse_int("8000")',
  'parse_int("8,000")',
  "# '14,000' -> 14000 / '2000' -> 2000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(',', '').isdigit():\n        return int(price.replace(',', ''))\n    elif isinstance(price, int):\n        return price",
  'parse_int(8000)',
  'parse_int("8,000"), parse_int(\'8000\'), parse_int(800), parse_int(\'-\'),',
  "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순) 가격순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스트로이드', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'신길동'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",

In [133]:
all([True, True, True, False]) # 전부 True인지 여부

False

In [134]:
round(3.5) # 반올림

4

In [135]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절. 연습문제
## 실습형

In [4]:
# 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
def get_max_min(data_list):
    return (max(data_list), min(data_list))

get_max_min([3,4,5,6,7,8])

(8, 3)

In [5]:

get_max_min= lambda data : (max(data), min(data))
get_max_min([3,4,5,6,7,8])

(8, 3)

In [8]:
# 2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
#    함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의
#    상태를 출력하는 함수를 구현해 보세요.

def getBMI(kg, m):
    bmi = kg / (m**2)
    if bmi <  18.5:
        return '마른체형'
    elif bmi < 25:
        return '표준'
    elif bmi < 30:
        return '비만'
    else:
        return '고도비만'

w = int(input('체중 kg?'))
h = float(input('키   m?'))
getBMI(w,h), 'BMI', (w/(h**2))

체중 kg?88
키   m?1.82

('비만', 'BMI', 26.56683975365294)

In [9]:
getBMI = lambda kg, m : '마른체형' if kg/(m**2) < 18.5 else \
                        '표준' if kg/(m**2) < 25 else \
                        '비만' if kg/(m**2) < 30 else \
                        '고도비만'

w = int(input('체중 kg?'))
h = float(input('키   m?'))
getBMI(w,h), 'BMI', (w/(h**2))

체중 kg?88
키   m?1.82

('비만', 'BMI', 26.56683975365294)

In [10]:
# 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
#    리턴값은 면적과 둘레를 return하도록 구현하세요
# math.sqrt() 제곱근을 구하는 함수 이용 (ex)math.sqrt(25) : 5.0

import math

def get_triangle(width, height):
    return (width*height/2, width+height+math.sqrt(width**2+height**2))

w = float(input('밑변?'))
h = float(input('높이?'))
'면적과 둘레는 각각', get_triangle(w, h)

밑변?3
높이?4

('면적과 둘레는 각각', (6.0, 12.0))

In [11]:
import math
get_triangle = lambda width, height : (width*height/2, width+height+math.sqrt(width**2+height**2))

w = float(input('밑변?'))
h = float(input('높이?'))
'면적과 둘레는 각각', get_triangle(w, h)

밑변?3
높이?4

('면적과 둘레는 각각', (6.0, 12.0))

In [12]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).

def mysum(fRom, end):
    sum = 0
    for i in range(fRom,end+1):
        sum += i 
    return sum

s = int(input('시작값?'))
t = int(input('끝  값?'))

print('{}부터 {}까지 정수의 합은 : {}'.format(s, t, mysum(s, t)))

시작값?3
끝  값?6
3부터 6까지 정수의 합은 : 18

In [16]:
mysum = lambda fRom, end : sum(range(fRom,end+1))

s = int(input('시작값?'))
t = int(input('끝  값?'))

print('{}부터 {}까지 정수의 합은 : {}'.format(s, t, mysum(s, t)))

시작값?3
끝  값?5
3부터 5까지 정수의 합은 : 12

In [18]:
# 5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
#    예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]

citys = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']

def get_abbrs(lst):
    rt_lst = []
    for item in lst:
        rt_lst.append(item[:3])
    return rt_lst

citys_abr = get_abbrs(citys)
citys_abr

['Seo', 'Dae', 'Kwa', 'Jej']

In [20]:
# 강사 추천
def get_abbrs(lst):
    return [l[:3] for l in lst]

citys_abr = get_abbrs(citys)
citys_abr

['Seo', 'Dae', 'Kwa', 'Jej']

In [21]:
# 강사 추천
(lambda lst : [l[:3] for l in lst])(citys)

['Seo', 'Dae', 'Kwa', 'Jej']

In [182]:
list(map(lambda lst : lst[:3], citys))

['Seo', 'Dae', 'Kwa', 'Jej']

In [184]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
x_exp_y = lambda x, y : x**y
x_exp_y(2,3)

8

In [187]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
ex = [1,2,3,4,5]
list(map(lambda x : x**2, ex))

[1, 4, 9, 16, 25]

In [190]:
ex = [1,2,3,4,5]
[e**2 for e in ex]

[1, 4, 9, 16, 25]

In [191]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오 : unpack된 결과와 packing을 유지한 리스 출력
a = [1, 2, 3]
print(*a)

1 2 3

In [192]:
print(a)

[1, 2, 3]

In [195]:
# 9. 다음 코드의 실행 결과는? result = "{year}-{month}-{day}".format(year='2024', month=9, day=6) 와 같은 결과
date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month:>02}-{day:>02}'.format(**date_info)
result

'2024-09-06'

In [201]:
date_info = {'year':'2025', 'month':'4', 'day':'18'}
result = '{year}-{month:>02}-{day:>02}'.format(**date_info)
result

'2025-04-18'

In [203]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
#     vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오. : set 이용

vector = ([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})


def vector_size_check(*vector_var):
    return len(set([len(v) for v in vector_var])) == 1

vector_size_check(*vector)

True

In [217]:
vector_F = ([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2, 3})

# def vector_size(*vector_var):
#     return [len(v) for v in vector_var]

# all(vector_size(*vector_F))

vector_size_check(*vector_F)

True

In [218]:
import numpy as np
a = np.array([1,2])
b = np.array([1,2])
all(a == b)

True

In [215]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
#     vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오. : all 이용

vector = ([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})


def vector_size_check(*vector_var):
    return all([len(v) for v in vector_var])

vector_size_check(*vector)

True

In [216]:
vector_F = ([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2, 3})

# def vector_size(*vector_var):
#     return [len(v) for v in vector_var]

# all(vector_size(*vector_F))

vector_size_check(*vector_F)

True

In [30]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 
#     셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
# sclar_vctr_prdt(5, [1,2,3,4]) = > [5, 10, 15, 20]
mul = 5
vector = [5, 10, 15, 20]

def sclar_vctr_prdt(ml, vtr):
    return [item * ml for item in vtr]

mul = 5
vector = [5, 10, 15, 20]
sclar_vctr_prdt(mul, vector)

[25, 50, 75, 100]

## 서술형

In [150]:
# 1. 다음 코드의 실행 결과는? 3
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [210]:
# 2. 오류 확인 후, 수정, 실행결과는?

a=10

def sub():
    global a
    a += 1
    print(a, end=' ')
    
def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end=' ')
        sub()
        
a += 1
func()

6 12 6 13

In [35]:
# 3, 다음구문을 실행한 결과는? 100
var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [36]:
# 4, 다음구문을 실행한 결과는? 5
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [37]:
# 5, 다음구문을 실행한 결과는? 3 의 2 승값 : 9
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
# 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
# 중복할 수 없다!!!
# 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
# **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
# 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

In [214]:
# 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
list_ = []
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

func(10, list_), func(20, L=list_), func(a=30), # func([], a=40)

([10, 20], [10, 20], [30])

In [ ]:
# 8. lambda : 작은 익명 함수를 의미합니다.
#          함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
#          다른 함수의 인수 또는 리턴값에 사용할 수 있습니다.