In [22]:
from IPython.display import display, HTML 
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red">ch05. 함수 </font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매배변수의 갯수로 갯수로 다른 함수를 허용하는것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    ...
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [13]:
# 함수 정의
def my_message(x, msg): # mag를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [8]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [9]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [11]:
type(my_msg), type(my_message)

(function, function)

In [12]:
print('Hello') # 파이썬 내장함수 (import하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [14]:
my_message(2, 'Hello')

Hello
Hello

In [15]:
my_message = 5

In [16]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [17]:
del my_message
# 변수를 삭제해도 함수 사용불가 (파이썬 내장함수가 아니라서...)

In [18]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [27]:
# 함수 정의 : 4월16일(수)
# def my_hello():
#     print('Hello, Python')
#     print('Hello, World')
    
def my_hello(cnt):  # 재정의(오버로딩) 안됨
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [28]:
# 함수사용=함수호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [29]:
my_hello

In [31]:
__name__

'__main__'

In [33]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [9]:
import ch05 # ch05 모듈을 load

In [ ]:
ch05.my_hello(3)

In [6]:
del ch05

In [10]:
from ch05 import my_hello # cho5 모듈 안에 my_hello load

## 1.2 docstring

In [14]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [15]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [16]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [17]:
def fibonacci(n):
    a, b = 0, 1
    while a < 10:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [18]:
fibonacci(10)

0 1 1 2 3 5 8

In [19]:
if True:
    x = 10

In [20]:
x

10

In [21]:
a, b # 함수는 실행이 끝나면 함수 내 변수는 사라짐

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(gloval var)

In [28]:
gloval_var =  100 # 전역변수
def func1():
    print('함수안', gloval_var)
func1() 
print('함수밖', gloval_var)

함수안 100
함수밖 100

In [29]:
def func2():
    local_var = 200 # 지역변수
    print('함수안', local_var)
func2() 
print('함수밖', local_var)

함수안 200

NameError: name 'local_var' is not defined

In [30]:
g_var = 100 # 전역변수
print(id(g_var))
def func3():
    g_var = 200 # 지역변수
    print(id(g_var))
    print('함수안', g_var)
func3() 
print('함수밖', g_var)

1882732957008
1882732960208
함수안 200
함수밖 100

In [36]:
# 렉시컬 특성    * 참조 순서 : 로컬심볼테이블 > 전역 심볼테이블 > 내장된 이름테이블
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수 스칼라 변수(문자, 숫자, 논리형)일 때

In [51]:
foo = 10 # 전역변수
id(foo)

1882732954128

In [53]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f*3
    print('After  :', f, 'id(f) :', id(f))
func1(foo)

Before : 10 id(f) : 1882732954128
After  : 30 id(f) : 1882732954768

In [40]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [55]:
L = [1, 2, 3]
id(L)

1882850393856

In [57]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f.append(4)
    print('After  :', f, 'id(f) :', id(f))
    
func2(L)

print('L =', L)
id(L)

Before : [1, 2, 3] id(f) : 1882850393856
After  : [1, 2, 3, 4] id(f) : 1882850393856
L = [1, 2, 3, 4]

1882850393856

# 2절. 함수의 실행결과를 반환하는 return

In [58]:
def add(x, y):
    return x + y # return 이후 명령문은 미실행

In [59]:
i, j = 2, 3
add(i, j)

5

In [60]:
def add():
    return True
add()

True

In [62]:
def add(a):
    pass
print(add(10))

None

In [76]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < 10:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 0 1 1 2 3 5 8을 return
    '''
    result = []
    a, b = 0, 1
    while a < 10:
        result.append(a)
        a, b = b, a+b
    print() # 개행
    return result  # return은 하나만 가능?

In [80]:
x = fibonacci_print(100)
print(x)
print(type(x))
x = fibonacci_return(100)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

## 여러개 값 return

In [81]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a  # 여러 값이 return될 때에는 하나의 튜플로 만들어서 return

In [85]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y ={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y ={y}')

함수 실행 전 x=5, y =10
함수 실행 후 x=10, y =5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [90]:
def make_url(ip, port=80): # 순서인수 (ip) > 기본값을 갖는 매개변수 (port=80) (순서 중요!!!)
    return "http://{}:{}".format(ip, port)

In [93]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [104]:
i = 5
print(id(i))
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg= ',arg, id(arg))

1882732953968

In [105]:
i = 50
print(id(i))
func2()

1882732955408
arg=  5 1882732953968

In [107]:
list_ = []
# 기본값을 갖는 변수가 객체(데이타구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [108]:
print(func3(10)) # list_가 수정 된 결과 : [10]

[10]

In [110]:
print(func3(20))

[10, 20]

In [111]:
list_

[10, 20]

In [112]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [113]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [116]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [117]:
add(1, 2, 3, 4, 5, 6)

TypeError: add() takes 3 positional arguments but 6 were given

In [114]:
print('Hello', 'World', 'Python', 'Hello', 'World', 'Python')

Hello World Python Hello World Python

In [121]:
# *argss: 매개변수들을 하나의 튜플 변수 args로 전달 받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [122]:
print(add(1,2,3,4,5,6,7,8,9,10))

55

In [125]:
subject = ('Python','Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [134]:
def concat(*subject, sep):
    return sep.join(subject)

In [135]:
concat('Python','Oracle', 'DL', 'ML', '/') # /로 스트링 연결하는 함수

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [136]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python','Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [137]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [138]:
concat('Python','Oracle', 'DL', 'ML', sep='/')

'Python/Oracle/DL/ML'

In [139]:
print('Python','Oracle', 'DL', 'ML', sep='/')

Python/Oracle/DL/ML

In [142]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [144]:
concat(' ', 'Python','Oracle', 'DL', 'ML')

'Python Oracle DL ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [156]:
def func5(**kwargs):
    # print(kwargs)
    print(type(kwargs))
    print('이름 ; ', kwargs.get('name', '대마왕'))
    print('나이 ; ', kwargs.get('age', 30))
    print('주소 ; ', kwargs.get('address', '서울'))

In [157]:
func5(name='홍길동', age=30, address='신림동')

<class 'dict'>
이름 ;  홍길동
나이 ;  30
주소 ;  신림동

In [158]:
func5(name='김길동')

<class 'dict'>
이름 ;  김길동
나이 ;  30
주소 ;  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드매개변수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [159]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리인수 d :', d)

In [161]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [162]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [163]:
func7(10,20,1,2,3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [164]:
func7(10,20,1,2,3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [166]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [167]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [169]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [170]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임(딕셔너리매개변수)

In [4]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [5]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [7]:
customInfo = {'name':'홍길동','age':30,'address':'서울시 강남구','score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [8]:
def add(a, b):
    return a+b
add(3,4)

7

In [10]:
add2 = lambda a, b : a+b
add(3,4)

7

In [11]:
type(add), type(add2)

(function, function)

In [12]:
(lambda a, b : a+b)(3, 4)

7

In [13]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수' 
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [21]:
# ex2. 두 매개변수의 차이를 return
ex2 = lambda num1, num2 : max(num1,num2) - min(num1, num2)
ex2 = lambda a, b : a-b if a>b else b-a # 강사 추천
ex2(-5, 5)

10

In [22]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda bal : bal if bal>=0 else 'negative'
ex3 = lambda money : money if money>0 else 'negative' # 강사추헌
ex3(101), ex3(0), ex3(-3)

(101, 'negative', 'negative')

In [24]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 
#      그외는 유효하지 않음
# ex4 = lambda scr : 'A팀' if scr>=80 elif scr>=60 'B팀' elif scr>=0 '재시험' else '유효않음'
ex4 = lambda score : 'A팀' if 90<=score<=100 else \
                    'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'   # 강사추천
ex4(99), ex4(-10), ex4(77), ex4(59), ex4(120)

('A팀', '유효하지 않음', 'B팀', '재시험', '유효하지 않음')

In [25]:
# ex5. safe_index를 람다식으로
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

# def safe_index(vector, data):
#     if data in vector: # vector안에 data 있는지 여부
#         return vector.index(data)
#     else:
#         return -1

# safe_index(numbers, 9)

ex5 = lambda vector, data : vector.index(data) if data in vector else -1  # 강사 추천 lst => vector
ex5(numbers, 9), ex5(numbers, 3)

(-1, 2)